{% extends 'home.html' %}

{% block title %} Change Password {% endblock %}

{% block header %} Change Password {% endblock %}

{% block body %}
<div class="py-5 z-n1 padkrapao">
    <div class="mt-5 kaopad">
    <div class="my-5 d-flex align-items-center justify-content-center">
    <div class="container border border-black rounded-5 p-5 bg-light bg-opacity-75">
<div class="container-fluid rounded-5 border text-center">
    <div class="row">
        <div class="col rounded-5 py-2" style="background-color:rgb(226,108,1); color:wheat;">
        <div class="fs-1 fw-bolder" >Change Password</div>
    </div>
    </div>
    </div>
    
<div class="card-body mt-2 pd-2">
    <form action="{{ url_for('change_pass') }}" method="POST">
        <div class="form-group pt-5">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-person"></i></div>
                </div>
                <input type="text" id="username" class="form-control" placeholder="Username e.g., it66070129" name="username">
            </div>
        </div>
        <div class="form-group pt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-envelope-at"></i></div>
                </div>
                <input type="email" id="email" class="form-control" placeholder="Email e.g., 66070129@kmitl.ac.th" name="email">
            </div>
        </div>
        <div class="form-group pt-3">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="bi bi-key"></i></div>
                </div>
                <input type="password" id="password" class="form-control" placeholder="Password" name="password">
            </div>
            <div class="form-group pt-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><i class="bi bi-key-fill"></i></div>
                    </div>
                    <input type="password" id="confirm-password" class="form-control" placeholder="Confirm Password" name="confirm-password" required>
                </div>
            </div>
        </div>
        <div class="form-group pt-5">
            <div class="d-grid">
            <button type="submit" class="btn btn-lg border rounded-5 fw-bolder fs-4 py-3" data-toggle="modal" data-target=".bd-example-modal-sm" style="background-color:rgb(229,119,1);color:wheat" name="submit">Change Password</button>
        </div>
        </div>
        <div class="container-fluid rounded-5 border-2 border-black text-center pt-3">
            <div class="row">
                <div class="col rounded-5 border-secondary border border-4 py-2" disable>
                <a class="text-decoration-none fs-4 fw-bolder bg-light bg-opacity-100" href="{{url_for('login_user')}}"><div style="color:rgb(226,108,1);">Back to Login<i class="ps-2 bi bi-box-arrow-in-right"></i></div></a>
            </div>
    </form>
</div>
</div>
</div>
</div>
</div>
{% endblock %}