{% extends 'page_admin.html' %}

{% block title %} Continue {% endblock %}

{% block header %} ดำเนินการ {% endblock %}

{% block body %}

<!-- status=1 -->
<div style="margin-top: 20px;">
    {% for order in order_list %}
            <h4><strong style="color: #FF7A00;">Username : </strong>{{ order.user_name }}</h4>
            <h4><strong style="color: #FF7A00;">Email : </strong>{{ order.user_email }}</h4>
            <h4><strong style="color: #FF7A00;">Order : </strong>{{ order.menu_name }}</h4>
            <h4><strong style="color: #FF7A00;">Price : </strong>{{ order.menu_price }}</h4>
    
        <a href="{{ url_for('finish', id=order.id) }}" class="btn btn-success" style="margin-top: 10px;">ดำเนินการเสร็จสิ้น</a>
    {% endfor %}
</div>


{% endblock %}