{% extends 'base.html' %}

{% block title %} Continue {% endblock %}

{% block header %} ดำเนินการ {% endblock %}

{% block body %}

<!-- status=1 -->
<div>
    {% for order in order_list %}
        <ul>
            <li>{{ order.user_name }}</li>
            <li>{{ order.user_email }}</li>
            <li>{{ order.menu_name }}</li>
            <li>{{ order.menu_price }}</li>
        </ul>
    
        <a href="{{ url_for('finish', id=order.id) }}" class="btn btn-success">ดำเนินการเสร็จสิ้น</a>
    {% endfor %}
</div>


{% endblock %}