{% extends 'navbar-page.html' %}


{% block title %} Menu {% endblock %}

{% block header %} Menu {% endblock %}

{% block body %}
{% for row in data %}
<div> {{row.field}} 

<div class="my-5 d-flex align-items-center justify-content-center">
<div class="container border border-black rounded-5 p-5 bg-light bg-opacity-75">
<div class="row">
<div class="custom-select-content-wrapper">
            <div class="custom-select-form-wrapper">
                <h1 class="custom-select-heading h-1 fw-bolder">{{menu.name}}</h1>
                <h2 class="custom-select-heading2">จำเป็นต้องเลือก</h2>
                    <form action="{{ url_for('select_menu') }}" method="post">
                        <fieldset>
                            <select name="sources" id="sources" class="custom-select sources" data-placeholder="Select box">
                                {% for menu in data %}
                                    <option value="{{ menu.id }}">{{ menu.name }}</option>
                                {% endfor %}
                            </select>
                        </fieldset>
                    </form>
            </div>
            <div>
                <a href="{{ url_for('status') }}" class="btn btn-success btn-sm" style="margin-top: 10px;" onclick="return confirm('คุณแน่ใจว่าจะยืนยันคำสั่งจอง')">ยืนยันคำสั่งจอง</a>
            </div>
        </div>
    </div>
    <div>
    </div></div>
    {% endfor %}
{% endblock %}