{% extends 'base.html' %}

{% block title %} Order {% endblock %}

{% block header %} รายการใหม่ {% endblock %}

{% block body %}
<!-- status=0 -->
<a href="{{ url_for('input_data') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">+Admin</a>
<a href="{{ url_for('index') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">Table data</a>
<a href="{{ url_for('logout_admin') }}" class="btn btn-primary" style="margin-bottom: 1.3rem;">Log out</a>

    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Order</th>
                <th scope="col">Price</th>
                <th scope="col">Select</th>
            </tr>
        </thead>
        <tbody>
            {% for order in order_list %}
                <tr>
                    <td>{{ order.user_name }}</td>
                    <td>{{ order.user_email }}</td>
                    <td>{{ order.menu_name }}</td>
                    <td>{{ order.menu_price }}</td>
                    <td>
                        <a href="{{ url_for('id_order', id=order.id) }}" class="btn btn-success">ยืนยันรับออเดอร์</a>
                        <a href="#" class="btn btn-danger">ยกเลิกออเดอร์</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}