<!DOCTYPE html>
{% extends 'navbar-page.html' %}

{% block title %} page {% endblock %}

{% block header %} Page {% endblock %}

{% block body %}
<div class="my-5">
    <div class="container">
      <div class="row">
        <div class="col text-center"><img src="../static/bowl.png" style="width:15vh">
            <div class="mt-3 fs-2 fw-bolder">ยินดีต้อนรับ....คุณ {{ username }}</div>
        </div>
    </div>
</div>
</div>
<div class="my-5">
    <div class="container border border-black rounded-5 p-5 bg-light bg-opacity-75">
      <div class="row">
        <div class="col text-center fw-medium fs-5 me-2">มื้อนี้สิกินหยังดีน้อ.... <strong class="d-inline">เลือกเลย!</strong>
          <div class="addScroll fs-6 card mt-3">
            <ul class="text-start fs-5 mt-2 fw-normal">
              <li>ก๋วยเตี๋ยว</li>
              <li>ข้าวมันไก่</li>
              <li>สปาเก็ตตี้</li>
              <li>สเต๊กหมู</li>
              <li>ข้าวไก่กรอบ</li>
              <li>ข้าวราดผัดกระเพรา</li>
              <li>ข้าวผัด</li>
              <li>เมนูอาหาร</li>
              <li>เมนูอาหาร</li>
              <li>เมนูอาหาร</li>
              <li>เมนูอาหาร</li>
              <li>เมนูอาหาร</li>
            </ul>
              </div>
        </div>
        <div class="col"><div class="card-header fw-bolder fs-5 mt-3"><i class="me-2 bi bi-emoji-smile-fill"></i>ร้านค้าที่เปิดอยู่</div>
        <div class="addScroll fs-6 card">
      <a href="{{ url_for('select_menu') }}" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ขายก๋วยเตี๋ยว</div></a>
      <a href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
      <a disabled href="" class="text-decoration-none"><div class="text-center p-2 mt-2 rounded-5 mx-5 orange-border">ร้านนี้ยังไม่มีเจ้าของ</div></a>
        </div>
    </div>
    </div>
    </div>
  </div>
  </div>
  <div class="my-5 d-flex align-items-center justify-content-center">
    <div class="container border border-black rounded-5 p-5 bg-light bg-opacity-75">
      <div class="row">
      <div class="col text-center fw-bolder fs-3 fw-bolder card-header card me-2" style="background: -webkit-linear-gradient(#FF4242, #F4D155);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">ถ้ายังนึกไม่ออกสุ่มเลย!
        <button type="submit" id="presstorandom" class="btn mt-3"><div class="p-2 random"></div></button>
      </div>
      <div class="col rounded-5 p-2 text-center d-inline-block">
          <div class="fs-2 fw-bold fst-italic mt-5">เราขอแนะนำ</div>
          <div class="fs-1 fw-bolder mt-2" id="randomFood"></div>
      </div>
    </div>
    </div>
  </div>

  <script>
    document.getElementById('presstorandom').addEventListener('click', function() {
        // ทำการส่งคำขอไปยังเซิร์ฟเวอร์เมื่อคลิกปุ่ม
        fetch('/random_text')
            .then(response => response.json())
            .then(data => {
                // แสดงข้อความสุ่มที่ได้จากเซิร์ฟเวอร์
                document.getElementById('randomFood').innerText = data.name;
            });
    });
</script>
{% endblock %}