<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Athiti' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&display=swap" rel="stylesheet">
        <title>มื้อนี้กินอะไรดี</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <embed src="Main Botton.svg" type="image/svg+xml"/>
        <embed src="Group 2.svg" type="image/svg+xml" />
        <hr class="line" style="text-align:center"></hr>
        <a class="title" style="text-align:center">มื้อนี้กินอะไรดี</a>
        <a class="border1" style="text-align:center" href="#.html">ร้านก๋วยเตี๋ยว</a>
        <a class="border2" style="text-align:center"></a>
        <a class="border3" style="text-align:center"></a>
    </body>
</html>