<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Offside&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai+Looped&family=Offside&family=Prompt&display=swap" rel="stylesheet">
        <title>FoodBooked</title>
    </head>
    <body>
        <a class="title">FoodBooked</a>
        <!--
        <hr class="line" style="text-align:center"></hr>
        -->
        <div>
            <embed id="tap" src="Tap.svg" type="image/svg+xml"/>
            <img id="fortune" src="image6.png">
        </div>
        <div>
            <a class="title1" style="text-align:center">มื้อนี้สิกินหยังดีน้อ. . .<a>
            <a class="title2" style="text-align:center">เลือกเลย!</a>
        </div>
        <div>
            <a class="border1" style="text-align:center">ร้านนี้ขายก๋วยเตี๊ยว</a>
            <a class="border2" style="text-align:center">ร้านยังไม่เปิด</a>
            <a class="border3" style="text-align:center">ร้านยังไม่เปิด</a>
        </div>
        <div>
            <a class="title3" style="text-align:center">ถ้ายังนึกไม่ออก</a>
            <a class="title4" style="text-align:center">สุ่มเลย!</a>
        </div>


        <p><h3><a href="{{ url_for('logout_user')}}">Log out</a></h3></p>
    </body>
</html>
